* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
}

.team {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(#281c3e, #0f051d); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.center h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.box {
    padding: 16px;
    background: #1b1229;
    border-radius: 15px;
    transition: all .38s ease;
}

.box p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
}

.box h3 {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 15px;
    font-weight: 600;
    color: #b7b4bb;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    transition: all .38s ease;
}

.icons i:hover {
    transform: scale(1.2);
}

.box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

@media(max-width: 1240px) {
    .team {
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }
    .center h1 {
        font-size: 3.2rem;
    }
}


/* ----------------------------------------- */


/* .logo {
    color: white;
    font-weight: bold;
}

.logo img {
    width: 150px;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

nav ul a {
    color: black;
    padding: 0.75em 2em;
    display: block;
}

nav ul a:hover {
    background: rgb(235, 235, 235);
}

nav .close {
    float: right;
    margin: 2em;
    width: 2.5em;
} */

body {
    margin: 1.5em;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.logo img {
    width: 150px;
}

nav {
    border: 1px solid #000;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

nav ul a {
    color: black;
    padding: 0.75em 2em;
    display: block;
}

nav ul a:hover {
    background: rgb(235, 235, 235);
}

nav .close {
    float: right;
    margin: 2em;
    width: 2.5em;
}

.open-nav {
    transform: translateX(0%);
}

@media only screen and (min-width: 680px) {
    body {
        margin: 1.5em 5em;
        font-family: "Poppins", sans-serif;
    }
}

@media only screen and (min-width: 920px) {
    .menu {
        display: none;
    }
    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    nav svg.close {
        display: none;
    }
    nav ul {
        display: flex;
        margin: 0;
    }
    nav ul a {
        color: white;
        padding: 0.5em 1.5em;
        font-size: 0.9rem;
    }
    nav ul a:hover {
        background: none;
        text-decoration: underline;
    }
    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }
    .logo {
        color: black;
    }
    .logo span {
        color: red;
    }
    section.hero {
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 8em;
    }
    section.hero .subhead {
        margin-bottom: 3em;
    }
    section.hero svg.down-arrow {
        stroke: black;
        position: unset;
    }
    section.hero svg.down-arrow path {
        fill: black;
    }
    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 8em;
    }
    .feature img {
        width: 25em;
    }
    .feature .content {
        text-align: right;
        width: 25em;
    }
    .feature.left {
        grid-template-areas: "left right";
    }
    .feature.left img {
        grid-area: left;
    }
    .feature.left .content {
        text-align: left;
        width: 25em;
        justify-self: left;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
    .feature {
        gap: 0;
    }
}

@-webkit-keyframes introLoad {
    from {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes introLoad {
    from {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@-webkit-keyframes moveArrow {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@-webkit-keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*# sourceMappingURL=main.css.map */

.border {
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 100px;
}


/*# sourceMappingURL=main.css.map */